<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com2021.falquonapps.mynewmatchinggame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/iclogo2_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iclogo2_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="RtlEnabled">
        <activity
            android:name=".ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentContainer"
            android:exported="false" />
        <activity
            android:name=".Test_Activity"
            android:exported="false" />
        <activity
            android:name=".Privecy_policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Category_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash_Activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2183728820366127~8405192645"/>

    </application>

</manifest>